In [1]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import pearsonr

# Load the dataset
# Assume the dataset is in a CSV file named 'sales_data.csv'
data = pd.read_csv('../data/raw/Walmart_Store_sales.csv')

# Display the first few rows of the dataset
data.head()

# Check for missing values
data.isnull().sum()

# Exploratory Data Analysis (EDA)
# Summary statistics
data.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

Check relationship between Weekly_Sales and Holiday_Flag

Check relationship between Weekly_Sales and Temperature

Check relationship between Weekly_Sales and Fuel_Price

Check relationship between Weekly_Sales and CPI

Check relationship between Weekly_Sales and Unemployment